{% extends 'base.html' %}

{% block content %}

  <h2>Person Form</h2>

  <form method="post" id="petForm" data-breeds-url="{% url 'ajax_load_breeds' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'pet_changelist' %}">Nevermind</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_pet_type").change(function () {
      var url = $("#petForm").attr("data-breeds-url");
      var PetTypeId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'pet_type': PetTypeId
        },
        success: function (data) {
          $("#id_breed").html(data);
        }
      });

    });
  </script>

{% endblock %}
