{% extends 'base.html' %}

{% block content %}
  <h2>Pet Management</h2>

  <p>
    <a href="{% url 'pet_add' %}">Add a Pet</a>
  </p>

  <table border="1">
    <thead>
      <tr>
         <th>Pet_Name</th>
        <th>Gender</th>
        <th>Pet Type</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Special Instruction</th>
      </tr>
    </thead>
    <tbody>
      {% for pet in my_pets %}
        <tr>
          <td><a href="{% url 'pet_change' pet.pk %}">{{ pet.pet_name }}</a></td>
          <td>{{ pet.gender }}</td>
          <td>{{ pet.pet_type.pet_type }}</td>
          <td>{{ pet.pet_breed.pet_breed }}</td>
          <td>{{ pet.age }}</td>
          <td>{{ pet.weight }}</td>
          <td>{{ pet.special_inst }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No pet in the database. <a href="{% url 'pet_add' %}">Add the first pet</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
