{% extends 'PriceMyVet/base.html' %}

{% load static %}

{% block body_block %}
<div class="hero-unit">
		<h2> Forgot Password </h2>
		<div class="container">
		<form class="form-signin span4" id="forgorpassword" method="post" action="/PriceMyVet/forgotpassword/">
			{% csrf_token %}
			Username or E-mail address: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size"50"/>
			<br />
			<button class="btn btn-primary" type="submit">E-mail new password</button>
		</form>
	</div>
	<!-- /container -->
</div>
{% endblock %}