{% extends 'PriceMyVet/base.html' %}

{% load static %}

{% block body_block %}
<div class="hero-unit">
		<h2>Register with PriceMyVet</h2>
		<br />
		
		<div class="container">
			{% if registered %}
			<p> Thank you for registering! </p>
			<p><a href="/PriceMyVet/login/">Login</a> when you are ready.</p>
			{% else %}
			
			<form class="span8" id="user_form" method="post" action="/PriceMyVet/register/" enctype="multipart/form-data">
				{% csrf_token %}
				<h3 class="form-signin-heading">Sign up Here</h3>
				<!-- Display each form here -->
				<table>
				{% for field in user_form.visible_fields %}
				{{ field.errors }}
  				<tr>
    				<td> {{ field.help_text }} </td>
    				<td> {{ field }} </td>
  				</tr>
				{% endfor %}
				</table>
				<!-- {% for field in profile_form.visible_fields %} -->
				<!-- {{ field.errors }}  -->
				<!-- {{ field.help_text }} <br />  -->
				<!-- {{ field }} <br />  -->
				<!-- {% endfor %}  -->
				<!-- <br />  -->
				<!-- Provide a button to click to submit the form. -->
				<input class="btn btn-primary" type="submit" name="submit" value="Register" />
			</form>
			{% endif %}
		</div>
</div>
{% endblock %}