{% extends 'PriceMyVet/base.html' %}

{% load static %}

{% block body_block %}
<script>
// set up a new XMLHttpRequest variable
var request = false;
try {
    request = new XMLHttpRequest();
} catch (trymicrosoft) {
    try {
        request = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (othermicrosoft) {
        try {
            request = new ActiveXObject("Microsoft.XMLHTTP");
        } catch (failed) {
            request = false;
        }
    }
}

if (!request)
    alert("Error initializing XMLHttpRequest!");
 
function getService() {
    var petType = document.getElementById("pet_type").value;
    var url = "http://127.0.0.1:8000/PriceMyVet/find_services?pet_type=" + escape(petType);
    request.open("GET", url, true);
    request.onreadystatechange = updatePage;
    request.send(null);
} 
 
// what to do when http ready state changes
function updatePage() { 
    if (request.readyState == 4) {
        if (request.status == 200) {
  
            // get response array
            var data = JSON.parse(request.responseText); 
            update_select($('select[name=service_type]'), data);
        }  
        // some error checking
        else if (request.status == 404) {
            alert("Request url does not exist");
        }
        else {
            alert("Error: status code is " + request.status);
        }
    }
}   
 
function update_select(select, data) {
    select.find('option').remove();
    for (var k in data) {
        select.append($('<option value="'+data[k]+'">'+data[k]+'</option>'));
    }
}
</script>
<div class="hero-unit">
		<h2>Search for a Vet in your Area</h2>
		<br />
		
		<div class="container">		
			<form class="span8" id="search_form" method="post" action="/PriceMyVet/search/">
				{% csrf_token %}
				<table>
				{% for field in search_form.visible_fields %}
				{{ field.errors }}
  				<tr>
    				<td> {{ field.help_text }} </td>
    				<td> {{ field }} </td>
  				</tr>
				{% endfor %}
				</table>
				<input class="btn btn-primary" type="submit" name="submit" value="Search" />
			</form>
		</div>
</div>
{% endblock %}