{% extends 'PriceMyVet/base.html' %}

{% load static %}

{% block body_block %}
<div class="hero-unit">
		<h2>Vet Practice Profile</h2>
		<br />
		
		<div class="container">		
			<form class="span8" id="search_form" method="post" action="/PriceMyVet/verpractice/">
				{% csrf_token %}
				<table>
				{% for field in vetpractice_form.visible_fields %}
				{{ field.errors }}
  				<tr>
    				<td> {{ field.help_text }} </td>
    				<td> {{ field }} </td>
  				</tr>
				{% endfor %}
				</table>
				<input class="btn btn-primary" type="submit" name="submit" value="Submit" />
			</form>
		</div>
</div>
{% endblock %}