{% extends 'base.html' %} 

{% block body %}
<div class="container">
	<h1>Profile</h1>
	<p>Username : {{ user }}</p>
	<p>First Name: {{ user.first_name }}</p>
	<p>Last Name: {{ user.last_name }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Address: {{ user.pet_parent.address }}</p>
	<p>City: {{ user.pet_parent.city }}</p>
	<p>State: {{ user.pet_parent.state }}</p>
	<p>Zip Code: {{ user.pet_parent.zip_code }}</p>
	<p>Own a Pet: {{ user.pet_parent.own_a_pet }}</p>
	<p>Phone: {{ user.pet_parent.phone_number }}</p>
	<p>Fax: {{ user.pet_parent.fax_number }}</p>
	<p>Cell Number: {{ user.pet_parent.cell_phone_number }}</p>
	<p>Gender: {{ user.pet_parent.gender }}</p>
	<img src="{{ user.pet_parent.image.url }}" width="240" >
</div>
{% endblock %}
   